name: Build Images

on:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_PREFIX: ghcr.io/${{ github.repository_owner }}/social-scale
    steps:
      - uses: actions/checkout@v4
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build dev image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.dev
          push: true
          tags: ${{ env.IMAGE_PREFIX }}-dev:latest
      - name: Build runtime image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.runtime
          push: true
          targets: api-runtime
          tags: |
            ${{ env.IMAGE_PREFIX }}-api:latest
            ${{ env.IMAGE_PREFIX }}-api:${{ github.sha }}






